



#characters {
    width: 1920px;
    display: flex;
    text-align: center;
    justify-content: center;

}






.r{
   text-align: center;
    width: 1450px;
height: 300px;
    background: deepskyblue;
margin-left:235px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.t{width: 450px;
    height: 400px;
    background: darkblue;
margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.y{width: 450px;
    height: 400px;
    background: darkblue;
margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.u{width:  450px;
    height: 400px;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.i{  text-align: center;
    width: 1450px;
    height: 300px;
    background: deepskyblue;
    margin-left: 235px;

    display: flex;
    align-items: center;
    justify-content: center;
}
